@import url('https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Menbere", sans-serif;
}
*:focus{
    outline: 2px solid #007bff; /* Blue outline */
    outline-offset: 2px;
}
body{
    background-color: #2d3748;
}
/*The Header Component*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .7rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a202c;
    z-index: -1;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, transparent, 
    rgba(255,255,255,.4), transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}
.logo{
    height: 40px;
}
.login-button{
    background-color: #f2fc24;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}
.login-button:hover{
    background-color: #d2db1e;
}
.login-button:active{
    background-color: #b2b413;
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    padding: 8px;
}
.navbar a:hover{
    color: #000;
    background-color: #f2fc24;
}
#check{
    display: none;
}
.icons{
    left: 5%;
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}
/*Contact Component*/
main{
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    display: flex;
    background-color: #1a202c;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.heading{
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    line-height: 1;
}
.text{
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}
#left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.medias{
    display: flex;
    position: absolute;
    bottom: 45px;
    gap: 30px;
}
.medias .icons{
    display: flex;
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #f2fc24;
    color: #000;
}
#right{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}
#right textarea{
    resize: none;
    height: 130px;
}
/*Button Style*/
.button{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    font-size: 1rem;
    color: #fff;
    border: 2px solid #f2fc24;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    margin-left: 55%;
}
.button:hover{
    color: #000;
    background-color: #f2fc24;
    transition: 1s;
}
.button:active{
    background-color: #b2b413;
}


/*Footer Section*/
.footer{
    background-color: #1a202c;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: #fff;
    font-size: small;
    flex-wrap: wrap;
    border-top: 1px solid #4a5568;
}
.links a{
    margin-left: 30px;
    text-decoration: none;
    font-size: .8rem;
    color: #fff;
}
/*Responsiveness*/
@media (max-width: 992px){
    .header{
        padding: .5rem 5%;
    }
}
@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    /*navigation dropdown*/
    .navbar{
        position: absolute;
        top: 120%;
        left: 20px;
        width: 200px;
        height: 0;
        border-radius: 8px;
        background-color: #1a202c;
        box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .3);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 11rem;
        z-index: 10;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: .7rem;
        text-align: center;
        transform: translatey(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translatey(0px);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    #check:checked~.icons #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    /*Main Container Section*/
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .button{
        margin-left: 65%;
    }
}