@import url('https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Menbere", sans-serif;
}
*:focus{
    outline: 2px solid #007bff; /* Blue outline */
    outline-offset: 2px;
}
body{
    background-color: #2d3748;
}
/*The Header Component*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .7rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a202c;
    z-index: -1;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, transparent, 
    rgba(255,255,255,.4), transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}
.logo{
    height: 40px;
}
.login-button{
    background-color: #f2fc24;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}
.login-button:hover{
    background-color: #d2db1e;
}
.login-button:active{
    background-color: #b2b413;
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    padding: 8px;
}
.navbar a:hover{
    color: #000;
    background-color: #f2fc24;
}
#check{
    display: none;
}
.icons{
    left: 5%;
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}
/*The Hero Section*/
.hero-section{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
    url("../Assets/Images/image01.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.search-bar{
    width: 100%;
    max-width: 450px;
    height: 60px;
    background-color: black;
    opacity: .7;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 250px;
}
.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px; 
    color: #fff;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
}
.hero-section p{
    margin: 5% 0;
    color: #fff;
    font-size: 1.5rem;
    max-width: 450px;
}
.button{
    display: inline-block;
    text-decoration: none;
    width: 150px;
    font-size: 1.1rem;
    color: #fff;
    border: 2px solid #f2fc24;
    border-radius: 10px;
    padding: 12px 34px;
    background-color: transparent;
    position: relative;
}
.button:hover{
    color: #000;
    background-color: #f2fc24;
    transition: 1s;
}
.button:active{
    background-color: #b2b413;
}
/*Zema Detail*/
.zema-detail{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    color: #fff;
}
.zema-detail h1{
    font-size: 2.25rem;
    font-weight: 600;
    color: #f2fc24;
    text-align: center;
    margin-bottom: 30px;
}
.zema-detail p{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 10px;
}
/*Services section*/
.services h2{
    text-align: center;
    font-weight: 700;
    color: #fff;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.column{
    flex-basis: 31%;
    max-width: 350px;
    background-color: #1a202c;
    border-radius: 10px;
    margin: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    color: #fff;
}
.column h4{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
.column:hover{
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .4);
}
/*Call to Action*/
.cta{
    margin: 50px 10%;
    background-color: red;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../Assets/Images/image02.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta p{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
/*Footer Section*/
.footer{
    background-color: #1a202c;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 20px;
    color: #fff;
    font-size: small;
    flex-wrap: wrap;
    border-top: 1px solid #4a5568;
}
.links a{
    margin-left: 30px;
    text-decoration: none;
    font-size: .8rem;
    color: #fff;
}
/*Responsiveness*/
@media (max-width: 992px){
    .header{
        padding: .5rem 5%;
    }
}
@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    /*navigation dropdown*/
    .navbar{
        position: absolute;
        top: 120%;
        left: 20px;
        width: 200px;
        height: 0;
        border-radius: 8px;
        background-color: #1a202c;
        box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .3);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 11rem;
        z-index: 10;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: .7rem;
        text-align: center;
        transform: translatey(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translatey(0px);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    #check:checked~#overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    /*Services Section*/
    .row{
        flex-direction: column;
    }
    /*Hero Section*/
    .search-bar{
        width: 250px;
    }
    .search-bar input{
        width: 200px;
    }
    .hero-section p{
        width: 250px;
        font-size: 1.1rem;
    }
    .zema-detail p{
        font-size: 1rem;
        font-weight: 400;
        padding: 10px;
    }
}