@import url('https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Menbere", sans-serif;
}
*:focus{
    outline: 2px solid #007bff; /* Blue outline */
    outline-offset: 2px;
}
body{
    background-color: #2d3748;
}
/*The Header Component*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .7rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a202c;
    z-index: -1;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, transparent, 
    rgba(255,255,255,.4), transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}
.logo{
    height: 40px;
}
.profile-ico {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f2fc24;
    text-align: center;
    font-size: 1.8rem;
    transition: .5s;
    text-decoration: none;
    color: #000;
}
.profile-ico:hover{
    background-color: #b2b413;
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    padding: 8px;
}
.navbar a:hover{
    color: #000;
    background-color: #f2fc24;
}
#check{
    display: none;
}
.icons{
    left: 5%;
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}
/*The main Section*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    width: 100%;
    max-width: 650px;
    height: 60px;
    background-color: black;
    opacity: .7;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 80px;
}
.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px; 
    color: #fff;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
}
#search-status {
    margin-top: 30px;
    color: white;
}
.search-results-container {
    width: 80%;
    margin: 20px auto;
}
/*List Wrapper*/
.list-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    transition: all 0.3s;
}
.list-wrapper h2{
    color: #fff;
    margin: 30px 0;
}
.playlist{
    background-color: #1a202c;
    padding: 10px 20px;
    width: 100%;
    border-spacing: 0 5px;
    border: 2px solid #fff;
    border-radius: 20px;
}
.playlist .song{
    text-align: center;
    text-indent: 0;
    cursor: pointer;
}
.song .img{
    width: 80px;
    object-fit: contain;
    padding: 10px;
}
.img img{
    width: 100%;
}
.song td{
    color: #fff;
    font-size: .8rem;
}
.song  .heart-ico{
    font-size: 1.5rem;
}
.playlist .song:hover{
    background-color: #2d3748;
}
/*Category Lists*/
.container{
    display: flex;
    flex-direction: column;
}
.category{
    padding: 20px 40px;
}
.headding-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    margin-top: 20px;
}
.element{
    min-width: 140px;
    width: 160px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #1a202c;
    transition: all ease 0.2s;
}
.element img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
    margin-bottom: 10px;
}
.element .play-ico{
    position: relative;
}
.play-ico .bx{
    background-color: #f2fc24;
    position: absolute;
    right: 5px;
    top: -40px;
    padding: 18px;
    border-radius: 50%;
    font-size: 1.1rem;
    opacity: 0;
    transition: all ease 0.4s;
}
.element .title{
    color: white;
}
.element p{
    color: white; 
    font-size: 0.8rem;
}
.element:hover{
    /*background-color: #4a5568;*/
    border: 2px solid #f2fc24;
}
.element:hover .play-ico .bx{
    opacity: 0.8;
    transform: translateY(-30px);
}
/*Element for Artists Category*/
.artist-element{
    min-width: 140px;
    width: 160px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #1a202c;
    transition: all ease 0.2s;
}
.artist-element img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.artist-element .title{
    color: white;
    text-align: center;
}
.artist-element:hover{
    /*background-color: #4a5568;*/
    border: 2px solid #f2fc24;
}
/*Music Player*/
.player-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    visibility: hidden;
    z-index: 5;
}
.player-display{
    position: fixed;
    width: 100%;
    top: 0;
    height: 80%;
    background-color: #2d3748;
    transition: all .5s ease;
}
.player-header, .song-timer, .controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.player-header{
    padding: 10px 20px;
}
.player-header .player-ico{
    background-color: #1a202c;
    color: #fff;
    border: 0;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.player-container .song-img{
    width: 12rem;
    height: 12rem;
    margin-top: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.music-player{
    width: 100%;
    height: 22%;
    border-top: 1px solid #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #1a202c;
}
.music-player .img-button{
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent;
}
.img-button .music-img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 5px;
}
.music-control{
    width: 70%;
    padding: 0 20px;
}
.song-details .title{
    color: #fff;
    font-size: 1.2rem;
}
.song-details .artist{
    color: #ffffffdc;
    font-size: .8rem;
    padding: 10px 0 20px 0;
}
.audio-container{
    margin: 8px;
}
.song-timer{
    margin-bottom: 20px;
}
.song-timer span{
    font-size: .8rem;
    color: #fff;
    font-weight: 800;
}
.progress-area{
    height: 7px;
    width: 100%;
    border-radius: 5px;
    background-color: #000;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background-color: #f2fc24;
}
.progress-bar::before{
    content: "";
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    top: 50%;
    right: -14px;
    z-index: 2;
    width: 28px;
    height: 28px;
    outline: none;
    border: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}
.progress-bar::after{
    content: "";
    position: absolute;
    background-color: #f2fc24;
    border-radius: 50%;
    top: 50%;
    right: -7px;
    z-index: 2;
    width: 15px;
    height: 15px;
    outline: none;
    border: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}
.controls{
    padding: 0 250px;
}
.control-button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #2d3748;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
.control-button:active, .player-ico:active{
    background-color: #f2fc24;
    color: #1a202c;
}
.controls #play-pause{
    width: 70px;
    height: 70px;
    font-size: 2.5rem;
    background-color: #f2fc24;
    color: #1a202c;
}
#play-pause:active{
    background-color: #1a202c;
    color: #f2fc24;
}
/*Footer Section*/
.footer{
    background-color: #1a202c;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 20px;
    color: #fff;
    font-size: small;
    flex-wrap: wrap;
    border-top: 1px solid #4a5568;
}
.links a{
    margin-left: 30px;
    text-decoration: none;
    font-size: .8rem;
    color: #fff;
}
/*Responsiveness*/
@media (max-width: 992px){
    .header{
        padding: .5rem 5%;
    }
}
@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    /*navigation dropdown*/
    .navbar{
        position: absolute;
        top: 120%;
        left: 20px;
        width: 200px;
        height: 0;
        border-radius: 8px;
        background-color: #1a202c;
        box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .3);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 11rem;
        z-index: 10;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: .7rem;
        text-align: center;
        transform: translatey(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translatey(0px);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    #check:checked~.icons #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    /*Services Section*/
    .row{
        flex-direction: column;
    }
    /*Search bar*/
    .search-bar{
        width: 350px;
        margin-left: 40px;
    }
    /*music player section*/
    .music-player{
        padding-top: 10px;
        height: 20%;
    }
    .song-details .title{
    font-size: 1rem;
    }
    .song-details .artist{
        font-size: .7rem;
        padding: 0;
    }
    .audio-container{
        margin: 5px;
    }
    .song-timer{
        margin-bottom: 10px;
    }
    .progress-area{
        width: 100%;
    }
    .controls{
        padding: 0;
        margin-top: 10px;
    }
    .control-button{
        width: 40px;
        height: 40px;
    }
    .controls #play-pause{
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }
    .music-player .img-button{
        margin: 0 10px;
        flex-direction: column;
    }
    .img-button .music-img{
        width: 3rem;
        height: 3rem;
    }
}